/* Website template by freewebsitetemplates.com */
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.eot');
	src: local('☺'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Play';
	src: url('../fonts/Play-Regular.eot');
	src: local('☺'), url('../fonts/Play-Regular.woff') format('woff'), url('../fonts/Play-Regular.ttf') format('truetype'), url('../fonts/Play-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	background-color: #fff;
	font-family: 'OpenSans';
	margin: 0;
}
img {
	border: 0;
}
.clearfix:after, #contents:after {
	clear:both;
	content:"";
	display:block;
	height:1%;
	line-height:0;
	visibility:hidden;
}

.btn {
	background: url(../images/bg-button.png) no-repeat;
	background-position: 0 -70px;
	color: #fff;
	display: inline-block;
	font: 24px/60px 'OpenSans';
	height: 60px;
	width: 230px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.btn-form {
	background: url(../images/bg-button.png) no-repeat;
	background-position: 0 -70px;
	color: #fff;
	display: inline-block;
	font: 24px/60px 'OpenSans';
	height: 60px;
	width: 230px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}


.btn:hover .btn-form:hover {
	background-position: 0 0;
}
/*------------------------------ HEADER ------------------------------*/
#header {
	background-color: #782323;
	border-bottom: 2px solid #361111;
	padding: 27px 0;
}
#header > div, #footer > div {
	width: 920px;
	margin: 0 auto;
	padding: 0 20px;
}
/** Logo **/
#header .logo {
	float: left;
	margin-right: 20px;
}
#header .logo a {
	background-image: url(../images/logo.png);
	color: #FFF;
	display: block;
        background-repeat: no-repeat;
        background-size: contain;
        font: 15px/30px "Courier New";
	height: 20px;
	width: 76px;
	padding-top: 68px;
	text-decoration: none;
	text-transform: uppercase;
}
/** Navigation **/
#navigation {
	display: inline-block;
	list-style: none;
	line-height: 100px;
	margin: 0;
	padding: 0;
}
#navigation ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation li {
	float: left;
	width: 120px;
	text-align: center;
}
#navigation li a {
	color: #FFF;
	font-size: 15px;
	line-height: 30px;
	text-decoration: none;
}
#navigation li a:hover {
	color: #000;
}
#navigation li.active a {
	color: #149594;
}

/*------------------------------ CONTENTS ------------------------------*/
#contents {

	margin: 0px 30px;
	padding: 54px 40px;
        
}
h1 {
	color: #149594;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	margin: 0 0 30px;
}
h2 {
	color: #2c2c2c;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 12px;
}
p {
	color: #585858;
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 30px;
}
p a {
	color: #585858;
}
#tagline h1 {
	margin-left: 20px;
}
#tagline > div {
	float: left;
	width: 400px;
	margin: 0 20px;
}

.postimage {
    width: 200px;
}

.date {
	float: left;
	height: 78px;
	width: 70px;
	margin-right: 20px;
	text-align: center;
}

.errors
{
    color: #990000;
    font-size: 20px;
    margin-bottom: 32px;
}

/* Title of date */
.date p {
	//margin: 12px 0 0;
        color: #000;
}

.date p span {
	display: block;
	font-size: 30px;
	margin-bottom: 6px;
        color: #000;
}

.date p img {
    max-width:100%;
    max-height:100%;   
    border: 2px solid #000;
}

.author {
	color: #585858;
	display: block;
	font-size: 12px;
}
.more {
	background-color: #782323;
	color: #000;
	display: inline-block;
	font-size: 14px;
	line-height: 30px;
	width: 100px;
	text-align: center;
	text-decoration: none;
}
.more:hover, .message input[type='submit']:hover {
	background-color: #149594;
	color: #000;
}
/** main **/
.main {
	float: left;
	background: url(../images/divider.png) repeat-y right top;
	width: 70%;
        margin-left: auto;
        margin-right: auto;
        word-wrap: break-word;

}

.main h1 {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
}
.main h2 span {
	display: block;
	font-size: 12px;
}
/** sidebar **/
.sidebar {
	float: left;
	width: 30%;
}

.sidebar h1 {
       text-align: center;
}


/** Photos */
.sidebar .photo {
        border-bottom: 1px solid #d5d5d5;
        margin-bottom: 10px;
}

.gallery {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    
}

.photo img {
        height: auto;
        width: 300px;
        border: 2px solid #000;
}

.imageView
{
 text-align: center;  
}

#like {
    height: autho;
    width: 50px;
    
}



/** posts */
.posts {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        word-wrap: break-word;
}

.posts h1 {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
}


/** Single Post **/
.post {
	width: 90%;
	margin: 0 auto;
        color: #000;
        margin-bottom: 80px;
        border-bottom: solid;
        padding-top: 30px;
        border-top: solid;
        border-width: 1px;
        border-color: #BBB;
        word-wrap: break-word;
}

.post h1 {
	padding-top: 12px;
        color: #000;
}

.post h1 a {
    color:#000;
    text-decoration: none;
}

.post h1 a:hover {
    text-decoration: underline;
}

.post h1 a:visited {
    text-decoration:none;
}


#about {
    width: 740px;
    margin: 0 auto;
}
#about h1, .section h1 {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 12px;
}
.section {
    float: left;
    width: 390px;
    margin-right: 50px;
}
.section h1 {
	margin-bottom: 18px;
}

/*------------------------------ FOOTER ------------------------------*/
#footer {
	background-color: #eee;
	border-top: 1px solid #d8d8d8;
	padding: 30px 10px;
}


